/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html{
  box-sizing: border-box;
}

*,*:before,*:after{
  box-sizing: inherit;
}

body{
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

/**     header    **/

div.hero{
  background-image: url(../img/encabezado.jpg);
  height: 100vh;    /* 100% de altura*/
  background-position: top center;  /* posicione justo al centro*/
  background-size: cover; /*acomode la imagen a la pantalla*/
}

div.contenido-header{
  padding-top: 40px;
} /* espacio con la parte alta*/

nav.redes-sociales{
  text-align: center;
} /* alineacion al centro*/

nav.redes-sociales a{
  color: #ffffff;
  font-size: 2em;
  margin-right: 20px;
} /* calibracion de tamaño, color y espaciado*/

nav.redes-sociales a:last-child{
  margin-right: 0;
} /* quita espacio izq al ultimo icono*/

div.info-evento{
  text-align: center;
  color: #ffffff;
} /* informacion al centro*/


@media only screen and (min-width: 768px){
  div.contenido-header{
    padding-top: 10px;
  }
}

@media only screen and (min-width: 768px){
  div.info-evento {
    width: 70%;
    margin: 0 auto;  
    margin-top: 50px;
  }  
} /* acomoda los datos de eventos al tamaño*/


div.info-evento p{
  margin: 0;
  display: inline;
  font-size: 20px;
  text-transform: uppercase;
} /* acomoda la info*/

div.info-evento p i{
  color: #fe4918;
  font-size: 2rem;
} /* color de iconos*/

p.fecha{
  float: left;
}
p.ciudad{
  float: right;
  text-align: right;
}


h1.nombre-sitio{
  font-size: 5.9vw;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
}

h2{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 2.4em;
  text-align: center; 
}

h2::after{
  content: '';
  margin: 0 auto;
  background-image: url(../img/separador.png);
  height: 30px;
  width: 100px;
  display: block;
}

p.slogan{
  text-transform:none !important;
}

p.slogan span{
  font-weight: bold;
}


@media only screen and (min-width: 768px){
  h1.nombre-sitio{
  font-size: 11.5vw;
  margin: 0;
  line-height: 1;
  }
}

/* barra principal*/

.contenedor{
  width: 98%;
  margin: 0 auto;
}

@media only screen and (min-width: 480px){
  .contenedor{
  width: 95%;
  }  
}

@media only screen and (min-width: 768px){
  .{
  width: 90%;
  }  
}

@media only screen and (min-width: 992px){
  .contenedor{
  width: 90%;
  max-width: 1100px;
  } 
}

/*barra*/

div.barra{
  background-color: #353535;
  padding:20px 0;
}

div.logo{
  width: 80%;
  float: left;
} /* padre de la imagen*/

div.logo img{
  width: 100%;
}/* hijo que hereda el tamaño que toma el padre en la query*/

@media only screen and (min-width: 768px){
  div.logo{
   width: 33%; 
  }
}

/*navegacion de la barra*/
nav.nav-ppal{
  display: none;
}

nav.nav-ppal a{
  font-family: 'Oswald', sans-serif;
  color: #ffffff; 
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.6s ease;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

nav.nav-ppal a:hover{
  background-color: #fe4918;
}

nav.nav-ppal a:last-child{
  border: 2px solid #fe4918;
  color: #fe4918;
}

nav.nav-ppal a:last-child:hover{
  color: #ffffff;
}

@media only screen and (min-width: 768px){
  nav.nav-ppal{
    width: 67%;
    float: right;
    display: block;
    text-align: right; 
  }
  nav.nav-ppal a{
    padding: 10px 10px;
    display: inline-block;
    width: auto;
    display:inline-block;
    text-align: center;
    margin: 20px 10px 0 0;
  }
}

/*menu movil*/

div.menu-movil{
  width: 60px;
  display: block;
  text-align: right;
  float: right;
  margin-top: 12px;
}

div.menu-movil span{
  height: 8px;
  margin-bottom: 6px;
  background-color: #ffffff;
  display: block;
}

div.menu-movil:hover{
  cursor: pointer;
}

@media only screen and (min-width: 768px){
  div.menu-movil{
    display: none;
  }
}

/*section*/

.seccion{
  padding: 30px 0;
}

.seccion p{
  font-size: 1.2em;
  text-align: center;
}

/*talleres*/

section.programa{
  position: relative;
}

div.contenedor-video{
  width: 100%
  overflow-x:hidden;
}

div.contenido-programa{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

div.programa-evento{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  margin-top: 80px;
}

@media only screen and (min-width: 768px){
  div.programa-evento{
    width: 70%;
  }
}

@media only screen and (min-width: 992px){
  div.programa-evento{
    width: 50%;
  }
}

nav.menu-programa{
  width: 100%;
  border-bottom: 1px solid #fe4918;
  padding-bottom: 10px;
}

nav.menu-programa a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
  font-size: 1.2em;
}

@media only screen and (min-width: 768px){
  nav.menu-programa{
    display: table;
  }
}

@media only screen and (min-width: 768px){
  nav.menu-programa a{
    display: table-cell;
  }
} /* cambia display lineal al ser mas grande*/

nav.menu-programa a i,
div.detalle-evento p i{
  color: #fe4918;
  font-size: 1.5em;
  margin-right: 10px;
}

/* detalle eventos*/

div.detalle-evento{
  margin-top: 20px;
  border-bottom: 1px solid black;
  padding: 0 20px;
}

div.detalle-evento:nth-child(2){
  border: none;
}

div.detalle-evento p{
  margin-bottom: 20px;
  font-size: 20px;
}

h3{
  font-family: 'PT Sans', sans-serif;
  color: #fe4918;
  font-size: 1.8em;
  margin: 0;
}

.buttom{
  background-color: #fe4918;
  padding: 10px 40px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  margin-top: 20px;
  display: inline-block;
  font-size: 1.2em;
  transition: all 0.3s ease;
  border: 1px solid #fe4918;
}

.float-right{
  float: right;
}

.buttom:hover{
  background-color: #e33000;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/****************** invitados ***************/
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.list-invitados li{
  padding: 10px;
  float: left;
}

@media only screen and (min-width: 480px ){
  ul.list-invitados li{
width: 50%;
  }
}

@media only screen and (min-width: 768px){
  ul.list-invitados li{
width: 33.3%;
  }
}

div.invitados{
  position: relative;
  overflow: hidden;
}

div.invitados img{
  width: 100%;
 filter: grayscale(1);
 -moz-filter:gray;
 transition: all 0.5s ease;
}

div.invitados:hover img{
  filter: grayscale(0);
  transform: scale(1.1);
}

div.invitados:hover p{
  bottom: -50px;
  opacity: 0;
}

div.invitados p{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px 15px;
  width: 100%;
  background-color: rgba(0,0,0,0.55);
  text-align: left;
  font-family: 'Oswald', sans-serif;
  color: #fe4918;
  text-transform: uppercase; 
  transition: all 0.5s ease-in-out;
}

/* contador*/

div.contador{
  position: relative;
  height: auto;
}

div.contador::before{
  background-image: url(../img/bg-resumen.jpg);
  content: '';
}

.parallax::before{
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(0.8);
}

ul.resumen-evento{
  position: relative;
  padding: 120px 0;
}

ul.resumen-evento li{
  width: 50%;
  float: left;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

@media only screen and (min-width: 768px){
  ul.resumen-evento li{
    width: 25%;
  }
}

p.numero{
  color: #fe4918;
  margin: 0 0 10px 0;
  display: block;
  font-size: 4em;
  font-family: 'Oswald', sans-serif;
}


/* lista de precios*/

ul.list-precios > li{
  padding: 10px;
}

@media only screen and (min-width: 768px){
  ul.list-precios > li{
    float: left;
    width: 33.3%;
  }
}

div.tabla-precio{
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  text-align: center;
  padding: 40px 0;
  transition: all .3s ease;
}

div.tabla-precio ul li{
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  line-height: 26px;
  color: #868686;
}

div.tabla-precio h3{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}

div.tabla-precio p.numero{
  color: #000000;
  margin-top: 20px 0;
}

div.tabla-precio ul li:before{
  content: '\201c';
  font-family: 'fontawesome';
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
  margin: 0;
  font-size: 3rem;
  color: green;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
}

div.tabla-precio:hover{
  transform: scale(1.1);
  border: 1px solid #fe4918;
  box-shadow: 0 0 50px #666;
}
.buttom.hollow,
.buttom.hollow:hover{
  background-color: white;
  color: #fe4918;
}

div.mapa{
  height: 420px;
  background-color: green;
}

div.testimoniales{
  padding-bottom: 20px;
}

div.testimonial{
  padding: 5px;
}

@media only screen and (min-width: 768px){
  div.testimonial{
    float: left;
    width: 33.3%;
  }
}

blockquote{
  background-color: white;
  border: 1px solid #e1e1e1;
  position: relative;
  margin: 0 0 10px 0;
  padding-bottom: 20px;
}

blockquote p{
  text-align: justify!important;
  font-size: 1em!important;
  font-family: 'PT Sans', sans-serif;
  padding: 0 20px 0 65px;
}

blockquote p::before{
  content: '\201c';
  position: absolute;
  left: 13px; 
  top: 8px;
  font-size: 8rem;
  margin: 0px;
  padding: 0px;
  color: #fe4918;
  line-height: 1;
}

footer.info-testimonial{
  padding: 0px;
  background-color: transparent;
}

footer.info-testimonial img{
  border-radius: 50%;
  float: left;
  width: 20%;
  margin-left: 20px;
}

footer.info-testimonial cite{
  text-align: left;
  color: #fe4918;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 20px;
  width: 66.6%;
  float: right;
  font-weight: bold;
  font-style: normal;
}

footer.info-testimonial cite span{
  color: #000000;
  text-transform: none;
  display: block;
  margin-top: 5px;
}

/* newsletter*/

div.newsletter{
  height: auto;
  position: relative;
}

div.newsletter::before{
  background-image: url(../img/bg-newsletter.jpg);
  content: '';
}

div.newsletter .contenido{
  position: relative;
  padding: 100px 0;
  text-align: center;
  color: #ffffff;
}

div.newsletter .contenido p{
  font-size: 1.2em;
  text-transform: lowercase;
}

div.newsletter .contenido h3{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 7vw;
  font-family: 'PT Sans', sans-serif;
}

.buttom.transparente{
  background-color: transparent;
  border: 1px solid #ffffff;
}

.buttom.transparente:hover{
  border: 2px solid #fe4918;
  background-color: #fe4918;
}

/* contador*/

div.cuenta-regresiva ul li{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
  text-align: center;
}

@media only screen and (min-width: 768px){
  div.cuenta-regresiva ul li{
    float: left;
    width: 25%;
  }
}

/*footer*/

footer {
  background-color: #353535;
  padding-top: 40px; 
  margin-top: 20px;
}

footer .contenedor > div{
  color: #ffffff;
  font-size: 12px;
  padding: 0 20px;
}

@media only screen and (min-width: 768px){
  footer .contenedor > div{
    width: 33.3%;
    float: left;
  }  
}

footer h3{
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Oswald',sans-serif;
}

footer h3 span{
  color: #fe4918;
}

footer .ult-tweets li{
  margin-bottom: 20px;
}

footer nav.redes-sociales{
  text-align: left;
}

p.copyright{
  color: #ffffff;
  text-align: center;
  margin:10px 0 0 0;
  padding: 10px 0;
  background-color: #2e2e2e;
}


/* ******************************************* */
/*registro*/

form.registro h3{
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

form.registro label{
  font-weight: bold;
  margin-bottom: 5px;
}

h4{
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #fe4918;
  padding-bottom: 10px;
  font-size: 1.2em;
}

div.caja{
  padding: 10px;
  margin: 10px;
  background-color: white;
  border: 1px solid #e1e1e1;
}

div.campo{
  padding: 20px;
}

@media only screen and (min-width: 768px){
  div.campo{
    float: left;
    width: 33.3%;
  }
}

div.paquete .tabla-precio:hover{
  transform: none;
  box-shadow: none;
}

div.paquete .tabla-precio input{
  clear: both;
  width: 100px;
  margin: 10px auto 0 auto;
  display: block;
}

.contenido-dia{
  padding: 20px;
  /*display: none;*/
}

@media only screen and (min-width: 768px){
  .contenido-dia > div{
    float: left;
    width: 33.3%;
  }
}

.contenido-dia > div p{
  text-align: left;
}

.contenido-dia > div input{
  margin-right: 10px;
}

.contenido-dia > div label {
  display: block;
  margin-bottom: 10px;
}

.contenido-dia > div label time{
  color: #fe4918;
  font-weight: bold;
}


/*RESUMEN*/

div.resumen p{
  font-size: 1.2em;
  text-transform: uppercase;
}

div.resumen div.extras{
  float: left;
  width: 50%;
  padding: 30px;
}

div.extras div.orden{
  text-align: left;
  margin-bottom: 10px;
}

div.extras div.orden input{
  margin-top: 10px;
}

div.resumen div.total{
  float: right;
  width: 50%;
  padding: 30px;
}

div.resumen .buttom{
  display: block;
  margin: 10px auto;
}